<!--The content below is only a placeholder and can be replaced.-->



<div class='card'>
   <div class='card-body'>
     
     <div class="row col-lg-12"> 
          <div>   
              <a  [routerLink]="['/home']">Home</a>
          </div>  
          <div class="col-lg-4">
             <a  [routerLink]="['/show-detail']">Search</a>
           </div>   
           <div >
              <h1>TV Maze APP</h1>   
           </div>  
             
          
           
      </div> 
  </div>
       
   
</div>
<router-outlet></router-outlet>
              
        
     
      
        


